@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none; }

h1 {
  font-family: 'Montserrat';
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  margin-top: 50px; }

footer {
  margin: 80px 0 18px 0;
  text-align: center; }
  footer * {
    display: inline;
    font-family: 'Montserrat';
    font-size: 13px;
    color: #333; }

@media screen and (max-width: 550px) {
  h1 {
    font-size: 32px; }
  footer * {
    font-size: 11px; } }
